body{
    margin: 0;
    display: grid;
    font-family: sans-serif;
    align: center;
    text-align: center;
    place-items: center;
}

input[type="text"]{
  /* CSS properties to style the text input */
  width: 200px; /* Sets the width of the input field */
  height: 100px;
  padding: 10px; /* Adds padding inside the input field */
  border: 1px solid #ccc; /* Adds a border */
  border-radius: 5px; /* Rounds the corners of the border */
  font-family: Arial, sans-serif; /* Sets the font family */
  font-size: 16px; /* Sets the font size */
  color: #333; /* Sets the text color */
  background-color: #f9f9f9; /* Sets the background color */
}